<div id="list">
  <h1 class="intro-ellipse">Ze Are Grateful For ...</h1>
  <div class="container-flex">
    <div class="row">
      <div class="solo-card card col-xs-offset-3 col-xs-6">
        <a class="go-back" ui-sref="lists"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></a>
        <p class="date">{{$ctrl.list.created_at | date: 'MMMM d, yyyy'}}</p>
          <p ng-repeat="item in $ctrl.list.items" ng-bind-html="item.as_displayable"></p>
      </div>
    </div>
  </div>
</div>