<div id="home" class="container-flex">
  <div class="row">
      <a ui-sref="lists">
        <div class="option opt-1 col-md-offset-1 col-md-4 col-xs-12 center">
          <div class="opt-inner">
            <p class="action" ui-sref="lists">Bird's Eye View</p>
          </div>
        </div>
      </a>
      <a ui-sref="add">
        <div class="option col-md-offset-2 col-md-4 col-xs-12 center">
          <div class="opt-inner">
            <p class="action" ui-sref="add">Build Your Nest</p>
          </div>
        </div>
      </a>
  </div>
</div>

