
// fonts
$brand-font: 'Shadows Into Light', cursive;

// colors
$dark-brown : #86B4C3;
$cocoa-brown: #5D3708;
$tan: #AE8152;
$light-blue: #D4E5E4;
$main-blue: #A0D1D8;
$text-color: black;
$text-color2: white;

