<div class="navbar navbar custom-nav">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="brand">
      <a class="navbar-brand" href="#">Grateful Nest</a>
    </div>
  </div>
  <div class="navbar-collapse collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a ui-sref-active="active" ui-sref="lists"><i class="birds-icon"></i></a></li>
      <li><a ui-sref-active="active" ui-sref="add"><i class="nest-icon"></i></a></li>
    </ul>
  </div>
</div>